h1 {
  font-family: "Lobster", cursive;
  color: yellow;
  text-shadow: 2px 2px gray;
  margin-top: 45px;
  margin-bottom: 50px;
}

table {
  border: lightgrey solid 2px;
}

th,
td {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: gray solid 1px;
}

.inputs {
  margin-top: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.info {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.daySelect {
  width: 50px;
  padding: 10px;
  border-radius: 3px;
  border: none;
}

button {
  cursor: pointer;
  border: none;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 3px;
  background-color: #a67db3;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  box-shadow: -3px 3px 3px gray;
  height: 40px;
}

button:active {
  box-shadow: -1px 1px 3px gray;
}
